:root {
    --main-blue: #81d4fa;
    --blue-600: #039be5;
    --main-orange: #ffab91;
    --elevation-03: #252525;
    --elevation-06: #2E2E2E;
    --elevation-09: #383838;
    --high-emphasis: rgba(255, 255, 255, 0.87);
    --medium-emphasis: rgba(255, 255, 255, 0.60);
    --disabled-emphasis: rgba(255, 255, 255, 0.38);
    --outline: rgba(255, 255, 255, 0.12);
    --headline-2: 6rem;
    --headline-3: 4.8rem;
    --headline-4: 3.4rem;
    --body-text: 1.6rem;
    --button: 1.4rem;
    --caption: 1.2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    background-color: #121212;
}
.inactive {
    display: none;
}

/*Header styles*/

header {
    width: 100%;
    height: 10vh;
    display: flex;
}
.header-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-content: center;
    padding: 0 10vw;
}
.header-container picture {
    width: 180px;
    height: auto;
    display: flex;
    align-items: center;
}
.header-container picture img {
    width: 100%;
    height: auto;
}
.menu-header-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 16px;
}
.menu-header-container ul li {
    display: inline;
    list-style: none;
    margin: 0 2px;
}
.menu-header-container li img {
    width: 32px;
    height: auto;
}
.menu-header-container li img:hover {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
.menu--button-container {
    width: auto;
    height: auto;
}
.menu--button-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 2px solid var(--main-blue);
    border-radius: 20px;
    padding: 6px 12px 6px 12px;
}
.menu--button-container a:hover {
    background-color: var(--elevation-06);
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
.menu--button-container a p {
    font-size: var(--button);
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: var(--main-blue);
    margin-top: 2px;
}
.menu--button-container a span {
    width: auto;
    height: auto;
    margin-left: 8px;
}
.menu--button-container a span img {
    width: 16px;
    height: auto;
}

/*Section one Styles*/
main {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.welcome-container {
    width: 100%;
    min-height: 90vh;
    display: grid;
    place-content: center;
}
.welcome-hero-container {
    width: 840px;
    height: auto;
}
h1 {
    font-size: 9.6rem;
    font-weight: 300;
    line-height: 11.6rem;
    text-align: center;
    color: var(--high-emphasis);
}
h1 .title-words {
    background-color: var(--main-orange);
    padding: 0 16px 0 8px;
    display: inline-block;
    position: relative;
}
h1 .title-words:before {
    content: '';
    background-color: #4A4A4A;
    width: 1px;
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 7px;
    animation: blinkAnim 500ms linear infinite;
  }
.welcome--phrase {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: var(--medium-emphasis);
    margin: 40px 80px;
}
.welcome--button-container {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.welcome--button-container a {
    display: flex;
    align-items: center;
    text-decoration: none;
    background: var(--main-blue);
    background: linear-gradient(45deg, rgba(129,212,250,1) 0%, rgba(3,155,229,1) 100%);
    border-radius: 20px;
    padding: 8px 16px 8px 16px;
}
.welcome--button-container a:hover {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
.welcome--button-container a p {
    font-size: var(--button);
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: #121212;
    margin-top: 2px;
}
.welcome--button-container a span {
    width: auto;
    height: auto;
    margin-left: 8px;
}
.welcome--button-container a span img {
    width: 16px;
    height: auto;
}

/*Section two styles*/

.projects-container {
    width: 100%;
    height: auto;
    display: grid;
    justify-content: center;
    padding-bottom: 40px;
    overflow: hidden;
    opacity: 0;
    transition: .7s ease-in-out;
    transform: translateY(100px);
}
h2 {
    font-size: var(--headline-2);
    font-weight: 300;
    line-height: 7.4rem;
    text-align: center;
    color: var(--high-emphasis);
}
.projects-general-container {
    width: 1260px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--elevation-03);
    border-radius: 32px;
    margin-top: 40px;
    padding: 40px;
    position: relative;
}
.types--buttons-container {
    width: 304px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background-color: var(--elevation-06);
    border-radius: 12px;
    margin-bottom: 40px;
    padding: 8px;
}
.types--buttons {
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: var(--button);
    font-weight: 500;
    line-height: 1.8rem;
    text-transform: uppercase;
    color: var(--medium-emphasis);
}
.types--buttons:hover {
    cursor: pointer;
    background-color: var(--elevation-09);
    color: var(--medium-emphasis);
}
.types--buttons-container .active-btn {
    background-color: var(--main-orange);
    color: #121212;
}
.types-projects-container {
    width: 100%;
    height: auto;
    position: relative;
}
.agency-projects-container,
.personal-projects-container,
.data-projects-container {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    place-items: center;
}
.project-card {
    width: 360px;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
}
.project-card picture {
    width: auto;
    height: auto;
}
.project-card picture img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.project--title,
.skill--title {
    font-size: var(--headline-4);
    font-weight: 400;
    line-height: 4rem;
    text-align: center;
    color: var(--high-emphasis);
    margin-top: 16px;
}
.project--description {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: var(--medium-emphasis);
    margin: 8px 0;
}
.project--date {
    color: var(--disabled-emphasis);
}
.project--url {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    text-decoration: none;
    text-align: center;
    color: var(--main-blue);
}
.project--url:hover {
    color: #b3e5fc;
}
.project--type {
    font-size: var(--caption);
    font-weight: 500;
    line-height: 1.6rem;
    color: #121212;
    background-color: var(--main-blue);
    padding: 4px 16px;
    position: absolute;
    top: 6%;
    right: 0%;
}
.project-button--ancla {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.project-button--ancla a {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--elevation-09);
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
}
.project-button--ancla a:hover {
    cursor: pointer;
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
        animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
.project-button--ancla a i {
    font-size: 2.8rem;
    line-height: 1rem;
    color: var(--main-orange);
}

/*Section three styles*/

.skills-container,
.tech-container {
    width: 100%;
    height: auto;
    position: relative;
    display: grid;
    justify-content: center;
    padding-bottom: 40px;
    overflow: hidden;
    opacity: 0;
    transition: .7s ease-in-out;
    transform: translateY(100px);
}
.skills-types-container {
    width: 1260px;
    height: auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    justify-items: space-between;
    gap: 32px;
    padding: 40px 0;
}
.skills--card {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.skills--card figure {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--elevation-06);
    border-radius: 14px;
}
.skills--card figure:hover {
    -webkit-animation: scale-down-center 0.1s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.1s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
.skills--card figure i {
    font-size: 2.8rem;
    line-height: 1rem;
    color: var(--high-emphasis);
}
.skill--description {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--medium-emphasis);
    text-align: center;
    margin-top: 8px;
}

/*Four section styles*/

.tech-knowledge {
    width: 1260px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--elevation-03);
    border-radius: 32px;
    margin-top: 40px;
    padding: 40px;
    position: relative;
}
.tech-knowledge img {
    width: auto;
    height: auto;
}
.tech-knowledge img:hover {
    -webkit-animation: scale-down-center 0.1s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
        animation: scale-down-center 0.1s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}

/*Footer styles*/

footer {
    width: 100%;
    height: auto;
    padding: 40px 10vw;
    opacity: 0;
    transition: .7s ease-in-out;
    transform: translateY(100px);
}
.footer-container {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
    margin-top: 40px;
}
.contact-container {
    width: 100%;
    height: auto;
    border-right: 1px solid var(--outline);
}
.contact--direction {
    width: auto;
    height: auto;
    grid-column: 1;
    margin-bottom: 50px;
}
.contact--direction li {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    text-decoration: none;
    text-align: center;
    color: var(--medium-emphasis);
    list-style: none;
}
.contact--direction li span {
    color: var(--main-orange);
}
.contact--social,
.rights-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.contact--social li,
.rights-container li {
    display: inline;
    list-style: none;
    margin: 0 2px;
}
.contact--social li img {
    width: 48px;
    height: auto;
}
.contact--social li img:hover {
    -webkit-animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
.pitch-container {
    width: auto;
    height: auto;
    grid-column: 2;
    padding: 0 60px;
}
.pitch--phrase {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    text-align: center;
    color: var(--medium-emphasis);
    margin-bottom: 40px;
}
.pitch--phrase span {
    color: var(--main-orange);
}
.rights-container li {
    font-size: var(--body-text);
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--medium-emphasis);
}
.rights-container a {
    text-decoration: none;
}
.rights-container a li {
    color: var(--main-blue);
}
.rights-container a li:hover {
    color: #b3e5fc;
}

/*Animations*/

.visible {
    opacity: 1;
    transform: translateY(0);
}
.scale-down-center {
	-webkit-animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
	        animation: scale-down-center 0.4s cubic-bezier(0.895, 0.030, 0.685, 0.220) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-12-21 12:9:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
  }
  @keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
  }
  
  @keyframes blinkAnim {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }